.header-mn-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #ecf0f1;
  min-height: 60px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
.header-mn-left{
  display: flex;
  padding-left: 60px;

}
.header-mn-mid{
  display: flex;

}
.header-mn-right{
  display: flex;
  align-items: center;
  padding-right: 60px;
 
}
ul {
  display: flex;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
}
ul li{
  padding-right: 10px;
}